*{
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color:#FFFFFF;
    background: #000000;}

.desktop1{
    width: 1440px;
    height: 1024px;
    background-image: url("/images/desktop1.jpg");
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logo{
    display: block;
    margin-top: 47px;
    margin-left: 122px;
}

.navigation_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:100px;
    list-style: none;
    margin-left: 190px;
    margin-top: 74px;
    margin-right: 546px;
}    

.navigation_title_main{
    text-decoration: none;
    display: block;
    color: rgba(255, 255, 255, 1);
    font-family: Istok Web;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

 .text_page_heade{
font-family: Kenia;
font-size: 150px;
font-weight: 400;
line-height: 150px;
letter-spacing: 0%;
text-align: left;
}